//~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* HELPDESK *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~//


// __sidenav
$hv__sidenav__width: $sidenav__width !default;
$hv__sidenav__background-color: $primary-color-dark !default;


.helpdesk-view {
    &__container {}
    &__icon-button {
        @include sprite-image($menu-white);
        background-position: -44px 4px;
        position: absolute;
        left: 0;
        top: 0;
    }
    &__sidenav {
        width: $hv__sidenav__width;
        background-color: $hv__sidenav__background-color;
    }
    &__container,
    &__sidenav {
        min-height: calc(100vh - 65px);
    }
}