//~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* ISSUE *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~//


// __header
$issue__header__border-bottom: 1px solid $divider-color !default;


.issue {
    &-details,
    &-notes {
        &__container {
            width: 95%;
        }
    }
    &-details,
    &-note {
        @media screen and (max-width: $break-point__1) {
            margin-bottom: 25px;
        }
    }
    &-note {
        &__container {
            width: 80%;
        }
    }
    &-notes {
        &__list {
            list-style: none;
            padding: 0;
            margin: 0;
            &-item {
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &-details,
    &-note,
    &-notes {
        @media screen and (max-width: $break-point__1) {
            width: 100%;
        }
        &__header {
            border-bottom: $issue__header__border-bottom;
        }
        &__heading {
            margin: 0.2em 0;
        }
        &__subject {
            margin-left: 8px;
        }
        &__container {
            @media screen and (max-width: $break-point__1) {
                width: 100%;
            }
        }
    }
}