//-
    PL - Assistant Services

//Assistant Services
each obj, property in data.section.helpdesk.services.assistant
        md-list-item(class="services-list__list-item")
            a(ui-sref="helpdesk." + property  ui-sref-active="services-list__link-active" class="services-list__link") #{obj.name}