//-
    PL - User Panel

div(ng-controller="userPanelController as UPC" class="user-panel")
    img(ng-src="{{user.imageSource}}" alt="{{user.firstName}} {{user.lastName}}" class="user-panel__user-image")
    md-button(ng-click="UPC.showUserMenu($event, UPC.userMenu)" aria-label="More - User menu" class="md-icon-button user-panel__icon-button")