//-
    Header

//Main Header
header.main-header
    //- Language Settings
    include ../../modules/_language-settings

    h1.main-header__title
        span(class="hide") #{data.header.headline}
        img(class="main-header__brand-logo" src="images/logo/HD-Logo.png" alt="Helpdesk Logo")