//~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* USER PANEL *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~//


// __user-image
$user-image__background-color: $accent-color !default;


.user-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__user-image {
        background-color: $user-image__background-color;
        border-radius: 50%;
    }
    &__user-fullname {
        margin-left: 10px;
    }
    &__icon-button {
        @include sprite-image($more_vert_black);
        background-position: -4px -52px;
    }
}