
<!--Helpdesk View-->
<div class="main-view authorized" layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2 helpdesk-view__sidenav" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" role="navigation">
    <!--Main Header-->
    <header class="main-header">
      <h1 class="main-header__title"><span class="hide">Helpdesk Application - Help in solving IT problems</span><img class="main-header__brand-logo" src="images/logo/HD-Logo.png" alt="Helpdesk Logo"/></h1>
    </header>
    <md-list class="services-list md-body-1" flex="flex">
      <md-list-item class="services-list__list-item"><a class="services-list__link" ui-sref="helpdesk.dashboard" ui-sref-active="services-list__link-active">Dashboard</a></md-list-item>
      <inject-component include="servicesTmpUrl"></inject-component>
      <md-list-item class="services-list__list-item"><a class="services-list__link" ui-sref="helpdesk.reportIssue" ui-sref-active="services-list__link-active">Report Issue</a></md-list-item>
      <md-list-item class="services-list__list-item"><a class="services-list__link" ui-sref="helpdesk.myIssues" ui-sref-active="services-list__link-active">My Issues</a></md-list-item>
      <md-list-item class="services-list__list-item"><a class="services-list__link" ui-sref="helpdesk.myAccount" ui-sref-active="services-list__link-active">My Account</a></md-list-item>
      <md-list-item class="services-list__list-item"><a class="services-list__link" ui-sref="helpdesk.logout" ui-sref-active="services-list__link-active">Sign Out</a></md-list-item>
    </md-list>
    <!--Main Footer-->
    <footer class="main-footer">
      <p class="main-footer__paragraph text-center text-muted"><small class="main-footer__copyright">&copy; Mateusz Archiciński</small></p>
    </footer>
  </md-sidenav>
  <div flex="flex" layout="column">
    <header class="md-whiteframe-z1 helpdesk-view__header" layout="row" layout-align="center">
      <div class="helpdesk-view__header-speacer" ng-style="HC.spacerStyle()">
        <md-button class="md-fab md-primary icon-nav-medium helpdesk-view__icon-nav-medium" ng-click="HC.toggleSidenav()" aria-label="Sidenav Show - Hide"></md-button>
      </div>
      <div class="language-settings" ng-controller="languageSettingsCtrl as LSC">
        <ul class="language-settings__list">
          <li><a class="language-settings__link" ng-click="LSC.translate('pl')" ng-class="{'language-settings__link-active': LSC.language === 'pl'}" ng-href="#" rel="help">pl</a></li>
          <li><a class="language-settings__link" ng-click="LSC.translate('en')" ng-class="{'language-settings__link-active': LSC.language === 'en'}" ng-href="#" rel="help">en</a></li>
        </ul>
      </div>
      <div class="user-panel" ng-controller="userPanelCtrl as UPC"><img class="user-avatar" ng-src="{{user.pictures[0] || 'images/icons/person_white.png'}}" alt="{{user.firstName}} {{user.lastName}}"/><span class="md-body-1 user-panel__user-fullname" ng-if="user.fullName">Hi, {{user.fullName}}!</span>
        <md-menu md-position-mode="right bottom">
          <md-button class="icon-menu-medium md-icon-button menu__icon-menu-medium" ng-click="$mdMenu.open($event)" aria-label="User menu - More"></md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="UPC.userGo('myAccount')">My Account</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="UPC.userGo('logout')">Sign Out</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </header>
    <md-content flex="flex">
      <div ui-view="services"></div>
    </md-content>
  </div>
</div>