
<div class="service-view__user">
  <div ncy-breadcrumb="ncy-breadcrumb"></div>
  <md-toolbar class="service-view__toolbar">
    <header class="md-toolbar-tools service-view__toolbar-tools">
      <h2>Użytkownik</h2>
    </header>
  </md-toolbar>
  <md-content layout-padding="layout-padding">
    <div layout-gt-sm="row" layout-align="center start">
      <div class="md-whiteframe-z1 flat-panel" flex-gt-sm="85" layout="column">
        <md-toolbar class="flat-panel__toolbar flat-panel__header">
          <header class="md-toolbar-tools"><img class="user-avatar" ng-src="{{UC.user.pictures[0] || 'images/icons/person_white.png'}}"/>
            <h3 style="margin-left: 8px;">User information</h3>
          </header>
        </md-toolbar>
        <md-content class="flat-panel__body" layout-padding="layout-padding">
          <form class="user-form UF" name="userForm" novalidate="novalidate" layout="column" ng-submit="userForm.$invalid || UC.userForm.submit($event)">
            <md-input-container>
              <label for="UFFN">First name</label>
              <input id="UFFN" name="firstName" ng-model="UC.user.firstName" type="text" ng-disabled="true"/>
            </md-input-container>
            <md-input-container>
              <label for="UFLN">Last name</label>
              <input id="UFLN" name="lastName" ng-model="UC.user.lastName" type="text" ng-disabled="true"/>
            </md-input-container>
            <md-input-container>
              <label for="UFFN">Full name</label>
              <input id="UFFN" name="fullName" ng-model="UC.user.fullName" type="text" ng-disabled="true"/>
            </md-input-container>
            <md-input-container>
              <label for="UFG">Gender</label>
              <md-select id="UFG" name="gender" ng-model="UC.user.gender" ng-disabled="true">
                <md-option value="male">Male</md-option>
                <md-option value="female">Female</md-option>
              </md-select>
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container>
              <label for="UFE">Email</label>
              <input id="UFE" name="email" ng-model="UC.user.email" type="email" ng-disabled="true"/>
            </md-input-container>
            <md-input-container>
              <label for="UFIP">Password set</label>
              <input id="UFIP" name="isPassword" ng-model="UC.user.isPassword" type="test" ng-disabled="true"/>
            </md-input-container>
            <md-input-container>
              <label for="UFR">Role</label>
              <input id="UFR" name="role" ng-model="UC.user.role" type="test" ng-disabled="true"/>
            </md-input-container>
            <div layout="row" layout-align="center center" layout-wrap="layout-wrap">
              <md-button class="btn btn-primary" type="submit">Update</md-button>
              <md-button class="btn btn-warn" ng-click="UC.userForm.delete()">Delete</md-button>
            </div>
          </form>
        </md-content>
      </div>
    </div>
  </md-content>
</div>