
<!--Helpdesk View-->
<section class="helpdesk-view">
  <div class="helpdesk-view__container" layout="row">
    <md-button class="md-fab md-primary helpdesk-view__icon-button" ng-click="HC.toggleSidenav()" aria-label="Sidenav Show - Hide"></md-button>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 helpdesk-view__sidenav" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" role="navigation">
      <!-- Functionalities-->
      <md-list class="fun-list md-body-1">
        <md-list-item class="fun-list__list-item"><a class="fun-list__link" ui-sref="helpdesk({fun: 'dashboard'})" ui-sref-active="fun-list__link-active">Dashboard</a></md-list-item>
        <inject-component include="fun.templateUrl"></inject-component>
        <md-list-item class="fun-list__list-item"><a class="fun-list__link" ui-sref="helpdesk({fun: 'myaccount'})" ui-sref-active="fun-list__link-active">My Account</a></md-list-item>
        <md-list-item class="fun-list__list-item"><a class="fun-list__link" ui-sref="helpdesk({fun: 'logout'})" ui-sref-active="fun-list__link-active">Sign Out</a></md-list-item>
      </md-list>
    </md-sidenav>
    <div flex="flex">
      <inject-component include="fun.current.templateUrl"></inject-component>
    </div>
  </div>
</section>