//-
    Body After Open

//JavaScripts Sources
//build:js js/main.min.js
//Bower Components
//bower:js

//endbower
//Angular Material
script(src="angular-material/angular-material.js")
//Application Initialize / Configuration
script(src="js/app.js")
script(src="js/app.config.js")
//Application Models
script(src="js/models/appStateFactory.js")
//Application Services
script(src="js/services/urlParamsProvider.js")
//Application Controllers
script(src="js/controllers/mainController.js")
script(src="js/controllers/translateController.js")
script(src="js/controllers/userPanelController.js")
script(src="js/controllers/rootController.js")
script(src="js/controllers/loginController.js")
script(src="js/controllers/registerController.js")
script(src="js/controllers/helpdeskController.js")
script(src="js/controllers/dashboardController.js")
script(src="js/controllers/myAccountController.js")
//Application Directives
script(src="js/directives/injectComponentDirective.js")
script(src="js/directives/validateEqualsDirective.js")
//endbuild