//~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MAIN FOOTER *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// __copyright
$main-footer__copyright__font-size: $base__font-size * 0.80 !default;
$main-footer__copyright__font-weight: $base__font-weight !default;


.main-footer {
    &__paragraph {
        padding: 40px 0 35px;
        margin: 0;
    }
    &__copyright {
        font-size: $main-footer__copyright__font-size;
        font-weight: $main-footer__copyright__font-weight;
    }
}


// Authorized
// __paragraph
$main-footer__paragraph__color: $color__white !default;
.authorized {
    .main-footer {
        &__paragraph {
            color: $main-footer__paragraph__color;
        }
    }
}