//~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MAIN FOOTER *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// __paragraph
$main-footer__paragraph__color: $color__white !default;
// __copyright
$main-footer__copyright__font-size: $base__font-size * 0.80 !default;
$main-footer__copyright__font-weight: $base__font-weight !default;


.main-footer {
    padding: 25px 0 35px;
    &__copyright {
        font-size: $main-footer__copyright__font-size;
        font-weight: $main-footer__copyright__font-weight;
    }
}


// Authorized
.authorized {
    .main-footer {
        width: 320px;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 100;
        padding: 0;
        &__paragraph {
            color: $main-footer__paragraph__color;
        }
        @media screen and (max-width: $break-point__1) {
            display: none;
        }
    }
}