//~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MAIN HEADER *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~//


.main-header {
    padding: 75px 0 18px;
    &__brand-logo {
        max-width: 100px;
        display: block;
        margin: 0 auto;
    }
}