//~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MAIN HEADER *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~//


.main-header {
    &__title {
        padding: 25px 0 18px;
    }
    &__brand-logo {
        max-width: 100px;
        display: block;
        margin: 0 auto;
    }
}


// Authorized
// .main-header
$main-header__height: $sideheader__height * 2 !default;
$main-header__background-color: $color__white !default;
$main-header__border-bottom: 1px solid $accent-color !default;
// __brand-logo
$brand-logo__margin-top: ($main-header__height - 62.5) /2 !default;


.authorized {
    .main-header {
        height: $main-header__height;
        background: $main-header__background-color;
        border-bottom: $main-header__border-bottom;
        &__title {
            padding: 0;
            margin: 0;
        }
        &__brand-logo {
            margin-top: $brand-logo__margin-top;
        }
    }
}