//~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MAIN HEADER *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// Authorized
// .main-header
$main-header__background-color: $color__white !default;


.main-header {
    &__title {
        padding: 25px 0 18px;
    }
    &__brand-logo {
        max-width: 100px;
        display: block;
        margin: 0 auto;
    }
}


// Authorized
.authorized {
    .main-header {
        height: 65px;
        background: $main-header__background-color;
        position: relative;
        display: flex;
        z-index: 100;
        padding: 0 8px;
        > * {
            flex: 1;
        }
        &__title {
            display: flex;
            align-items: center;
            order: -1;
            padding: 0;
            margin: 0;
        }
        &__brand-logo {
            max-width: 80px;
            margin: 0 0 0 120px; // ????
        }
    }
}