//-
    PL - Assistant

//Assistant fun~
each obj, property in data.section.modules.assistant
        md-list-item
            a(ui-sref="helpdesk({fun: '" + property + "'})" ui-sref-active="fun-list__link-active" class="fun-list__link") #{obj.name}