.white-bg {
  background-color: #fff; }

.white-color {
  color: #fff; }

/* Fonts: Roboto */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype"); }

/* Headings */
/****
.primary-heading {
    font-size: $primary-heading__font-size;
    font-weight: $primary-heading__font-weight;
    text-transform: $primary-heading__text-transform;
    @include after {
        content: "";
        width: $primary-heading__after__width;
        height: $primary-heading__after__height;
        background: $primary-heading__after__background;
        display: block;
        font-size: $primary-heading__after__font-size;
        border-radius: $primary-heading__after__border-radius;
        margin: $primary-heading__after__margin;
    }
}

.secondary-heading {
    font-size: $secondary-heading__font-size;
}

.tertiary-heading {
    font-size: $tertiary-heading__font-size;
}

.secondary-heading,
.tertiary-heading,
.quaternary-heading {
    font-weight: $headings__font-weight;
    padding-bottom: $headings__padding-bottom;
    border-bottom: $headings__border-bottom;
}

.quaternary-heading {
    font-size: $quaternary-heading__font-size;
    border-bottom: 0;
    margin: 0;
}
****/
/* Text */
.text-small {
  font-size: 0.85em; }

.text-normal {
  font-size: 1em; }

.text-medium {
  font-size: 1.15em; }

.text-large {
  font-size: 1.3em; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-hidden {
  line-height: 0;
  font-size: 0;
  text-shadow: none;
  color: transparent; }

.text-muted {
  color: #757575; }

strong {
  font-weight: 500; }

.icon {
  /****
    display: inline-block;
    &-dashboard {
        &__white {
            @include sprite($home-white);
        }
        &__black {
            @include sprite($home-black);
        }
    }
    &-myaccount {
        &__white {
            @include sprite($account-circle-white);
        }
        &__black {
            @include sprite($account-circle-black);
        }
    }
    &-logout {
        &__white {
            @include sprite($exit-to-app-white);
        }
        &__black {
            @include sprite($exit-to-app-black);
        }
    }
    ****/ }
  .icon-menu-small {
    background-image: url(../images/sprite.png);
    background-position: -88px -136px;
    width: 24px;
    height: 24px; }
  .icon-menu-medium {
    background-image: url(../images/sprite.png);
    background-position: 0px -68px;
    width: 48px;
    height: 48px; }
  .icon-nav-medium {
    background-image: url(../images/sprite.png);
    background-position: -68px 0px;
    width: 48px;
    height: 48px; }

/****
.arrow-right {
    @include before {
        content: "\20\2794\20";
        font-size: $ar-before__font-size;
    }
}
****/
.register-form__terms-conditions {
  padding-bottom: 20px;
  margin: 0; }

.services-list {
  padding: 0; }
  .services-list__list-item, .services-list__list-item._md {
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
    .services-list__list-item:last-child, .services-list__list-item._md:last-child {
      border-bottom: 0; }
  .services-list__link {
    line-height: 48px;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    white-space: nowrap;
    padding: 0 25px;
    transition: .2s background-color ease, .2s color ease, .1s border ease; }
    .services-list__link, .services-list__link:link, .services-list__link:visited {
      color: rgba(255, 255, 255, 0.85); }
    .services-list__link:hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: #fff; }
    .services-list__link-active {
      border-left: 3px solid #ffc107; }

/*
.alert {
    color: #fff;
    &-main {
        top: 65px;
    }
    &-success {
        background-color: #4caf50;
    }
    &-info {
        background-color: #03a9f4;
    }
    &-warning {
        background-color: #ff5722;
    }
    &-error {
        background-color: #F44336;
    }
}
*/
.breadcrumb {
  list-style: none;
  padding: 16px;
  margin: 0; }
  .breadcrumb li {
    display: inline;
    font-size: 0.8em; }
    .breadcrumb li:not(:last-child)::after {
      content: "\002F";
      margin: 0 15px; }

.flat-panel {
  background-color: #fff;
  color: #212121;
  margin-top: 25px;
  margin-bottom: 25px; }
  .flat-panel:nth-child(n+2) {
    margin-left: 20px; }
    @media screen and (max-width: 959px) {
      .flat-panel:nth-child(n+2) {
        margin: 0; } }
  .flat-panel__toolbar, .flat-panel__toolbar._md, .flat-panel__body {
    background-color: transparent;
    color: inherit; }
  .flat-panel__header {
    border-bottom: 1px solid #bdbdbd; }
  .flat-panel__item-list, .flat-panel__item-list._md {
    padding: 0; }
  .flat-panel__search-by {
    width: 50%; }

.table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse; }
  .table-hover tbody tr {
    transition: 0.1s background-color linear; }
    .table-hover tbody tr:hover {
      background-color: #dffffb; }
  .table th {
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #bdbdbd; }
  .table td {
    font-size: 0.85em;
    font-weight: 300; }
  .table th,
  .table td {
    height: 58px;
    text-align: left;
    padding: 8px 15px; }

a {
  text-decoration: none;
  color: #0069c5;
  transition: 0.25s color ease; }
  a:link, a:visited {
    color: #0069c5; }
  a:hover {
    color: #009688; }
  a:active {
    color: #00796b; }
  a.no-link {
    color: inherit; }

.btn {
  color: #fff;
  padding: 0 15px; }
  .btn-primary, .btn-primary:not([disabled]):hover, .btn-primary:not([disabled]).md-focused, .btn-primary[disabled] {
    background-color: #ffc107; }
  .btn-warn, .btn-warn:not([disabled]):hover, .btn-warn:not([disabled]).md-focused, .btn-warn[disabled] {
    background-color: #ff5722; }
  .btn-facebook, .btn-facebook:not([disabled]):hover, .btn-facebook:not([disabled]).md-focused, .btn-facebook[disabled] {
    background-color: #3b5998; }
  .btn-google, .btn-google:not([disabled]):hover, .btn-google:not([disabled]).md-focused, .btn-google[disabled] {
    background-color: #dd4b39; }

/****
@media screen and (max-width: $break-point__1) {
    .br__1 {
        display: none;
    }
}


@media screen and (max-width: $break-point__2) {
    .br__2 {
        display: none;
    }
}

@media screen and (max-width: $break-point__3) {
    .br__3 {
        display: none;
    }
}


@media screen and (max-width: $break-point__4) {
    .br__4 {
        display: none;
    }
}


html[lang="en"] {
    .br__1 {
        display: none;
    }
}
****/
.language-settings__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 15px 0 0;
  margin: 0; }

.language-settings__link {
  line-height: 1.3;
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: 1px solid #bdbdbd;
  transition: all 0.25s ease; }
  .language-settings__link, .language-settings__link:link, .language-settings__link:visited {
    color: #757575; }
  .language-settings__link-active {
    background-color: #00aa9a;
    border: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 8px rgba(30, 40, 50, 0.5); }
    .language-settings__link-active, .language-settings__link-active:link, .language-settings__link-active:visited {
      color: #fff; }

.user-panel {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .user-panel__user-image {
    background-color: #ffc107;
    border-radius: 50%; }
  .user-panel__user-fullname {
    margin-left: 10px; }
  .user-panel__icon-button {
    background-image: url(../images/sprite.png);
    background-position: -4px -52px; }

.form-view__container {
  width: 360px; }

.helpdesk-view__container {
  position: relative; }

.helpdesk-view__icon-nav-medium {
  background-position: -64px 4px;
  position: absolute;
  left: 0;
  top: 51px; }

.helpdesk-view__sidenav {
  width: 280px;
  background-color: #00796b; }

.helpdesk-view__container, .helpdesk-view__sidenav {
  min-height: calc(100vh - 65px); }

.service-view__container {
  height: 100%;
  position: relative; }

.service-view__toolbar, .service-view__toolbar._md {
  background-color: transparent;
  color: #212121; }

.service-view__toolbar-tools {
  transition: .15s padding-left linear; }
  @media screen and (max-width: 959px) {
    .service-view__toolbar-tools {
      padding-left: 80px; } }

.service-view__toolbar, .service-view__toolbar._md, .service-view__toolbar-tools {
  min-height: 68px;
  height: 68px; }

.my-issues__container {
  width: 70%;
  padding: 0 5px; }
  @media screen and (max-width: 959px) {
    .my-issues__container {
      width: auto; } }

.my-issues__header {
  padding: 10px 0; }

.my-issues__body {
  padding: 15px 0; }

.menu__icon-menu-small {
  background-position: -80px -128px; }

.menu__icon-menu-medium {
  background-position: -4px -72px; }

.menu__link-menu {
  width: 100%;
  height: 100%;
  line-height: 48px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  padding: 0 16px; }

.search-wrapper {
  height: 54px; }

.search-input {
  padding: 8px 15px;
  border: 0; }
  .search-input:focus {
    outline: 0; }

.issue-details__header, .issue-notes__header, .issue-note__header {
  border-bottom: 1px solid #bdbdbd; }

.issue-details__heading, .issue-notes__heading, .issue-note__heading {
  margin: 0.2em 0; }

.issue-details__subject, .issue-notes__subject, .issue-note__subject {
  margin-left: 8px; }

.issue-details__container, .issue-notes__container {
  width: 95%; }

@media screen and (max-width: 959px) {
  .issue-details, .issue-note {
    margin-bottom: 25px; } }

.issue-notes {
  margin-top: 25px; }
  .issue-notes__list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .issue-notes__list-item {
      margin-bottom: 25px; }
      .issue-notes__list-item:last-child {
        margin-bottom: 0; }

.issue-note__container {
  width: 80%; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.user-avatar {
  background-color: #ffc107;
  border-radius: 50%; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  line-height: 1.2; }

body {
  font-size: 1em;
  color: #212121; }

.clearfix::before, .clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.main-header__title {
  padding: 25px 0 18px; }

.main-header__brand-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto; }

.authorized .main-header {
  height: 65px;
  background: #fff;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  padding: 0 8px; }
  .authorized .main-header > * {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .authorized .main-header__title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    padding: 0;
    margin: 0; }
  .authorized .main-header__brand-logo {
    max-width: 80px;
    margin: 0 0 0 92px; }
    @media screen and (max-width: 645px) {
      .authorized .main-header__brand-logo {
        margin: 0 0 0 22px; } }

.main-wrapper__container {
  position: relative; }

.main-wrapper [ui-view=""],
.main-wrapper [ui-view="service"] {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .main-wrapper [ui-view=""].ng-enter, .main-wrapper [ui-view=""].ng-leave,
  .main-wrapper [ui-view="service"].ng-enter,
  .main-wrapper [ui-view="service"].ng-leave {
    transition: 0.2s opacity linear, 0.2s -webkit-transform linear;
    transition: 0.2s opacity linear, 0.2s transform linear;
    transition: 0.2s opacity linear, 0.2s transform linear, 0.2s -webkit-transform linear; }
  .main-wrapper [ui-view=""].ng-enter,
  .main-wrapper [ui-view="service"].ng-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
            transform: scale3d(0.98, 0.98, 0.98); }
  .main-wrapper [ui-view=""].ng-enter-active,
  .main-wrapper [ui-view="service"].ng-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  .main-wrapper [ui-view=""].ng-leave,
  .main-wrapper [ui-view="service"].ng-leave {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0); }

.main-footer {
  width: 280px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 0; }
  .main-footer__copyright {
    font-size: 0.8em;
    font-weight: 400; }
  @media screen and (max-width: 959px) {
    .main-footer {
      display: none; } }

.authorized .main-footer__paragraph {
  color: #fff; }

/*# sourceMappingURL=maps/main.css.map */
