//~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* ALERT *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~//


/*
.alert {
    color: #fff;
    &-main {
        top: 65px;
    }
    &-success {
        background-color: #4caf50;
    }
    &-info {
        background-color: #03a9f4;
    }
    &-warning {
        background-color: #ff5722;
    }
    &-error {
        background-color: #F44336;
    }
}
*/