//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* FUNCTIONALITIES *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// __link
$fun-list__link__color: $color__white !default;


.fun-list {
    padding: 25px 0 25px 0;
    &__list-item,
    &__list-item._md {
        align-items: stretch;
        padding: 0;
    }
    &__link {
        line-height: 48px;
        flex: 1;
        text-transform: uppercase;
        letter-spacing: 1px;
        white-space: nowrap;
        padding: 0 16px;
        transition: .3s background-color linear,
                    .2s border linear;
        &,
        &:link,
        &:visited {
            color: $fun-list__link__color;
        }
        &:hover,
        &-active {
            background-color: rgba($color__black, .4);
            border-left: 5px solid $color__white;
        }
        &-active {
            
        }
    }
}