include ../../helpers/_mixins

//-
    PL - Dashboard Service

+serviceView("dashboard", true, data.section.helpdesk.services.dashboard)
    p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.