include ../../helpers/_mixins

//-
    PL - My Account Service

+serviceView("my-account", data.section.helpdesk.services.myaccount)
    p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.