//-
    Header

//Main Header
header(ng-class="{'md-whiteframe-z1': MC.isAuthorized()}" class="main-header")
    include ../modules/_translate
    
    h1.main-header__title
        span(class="hide") #{data.header.headline}
        img(class="main-header__brand-logo" src="images/logo/HD-Logo.png" alt="Helpdesk Logo")
    
    inject-component(condition="MC.isAuthorized()" include="'modules/_userPanel'")