<!DOCTYPE html>
<html ng-app="app" lang="en">
  <head>
    <!--Define Unicode-->
    <meta charset="utf-8">
    <!--Define Base URL Address-->
    <base href="http://localhost:3000/">
    <!--Define a Compatibility with IE-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--Define Flexible Viewport for Mobile Devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Phone Numbers Detection-->
    <meta name="format-detection" content="telephone=no">
    <!--Search Engine Optimization Sources-->
    <title>Helpdesk - Help in solving IT problems</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Mateusz Archiciński">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="tile-1200x630px.png">
    <meta name="robots" content="index, follow, noodp, noydir">
    <!--Icon Sources-->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!--Google Chrome - Theme Color-->
    <meta name="theme-color" content="#009688">
    <!--Cascading Style Sheets Sources-->
    <!--build:css css/main.min.css-->
    <!--Bower Components-->
    <!--bower:css-->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <!--endbower-->
    <!--Application Style Sheets Sources-->
    <link rel="stylesheet" href="css/main.css">
    <!--endbuild-->
  </head>
  <body ng-cloak="">
    <!--JavaScripts Sources-->
    <!--build:js js/main.min.js-->
    <!--Bower Components-->
    <!--bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!--endbower-->
    <!--Application Initialize / Configuration-->
    <script src="js/app.js"></script>
    <script src="js/app.config.js"></script>
    <!--Application Models-->
    <script src="js/models/appStateFactory.js"></script>
    <!--Application Services-->
    <script src="js/services/urlParamsProvider.js"></script>
    <!--Application Directives-->
    <script src="js/directives/injectComponentDirective.js"></script>
    <!--Application Controllers-->
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/registerController.js"></script>
    <script src="js/controllers/helpdeskController.js"></script>
    <script src="js/controllers/userPanelController.js"></script>
    <script src="js/controllers/translateController.js"></script>
    <!--endbuild-->
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <main class="{{MC.authorizedClass()}}" ng-controller="mainController as MC">
      <!--Main Header-->
      <header class="main-header" ng-class="{'md-whiteframe-z1': MC.isAuthorized()}">
        <div class="language-settings" ng-controller="translateController as TC">
          <ul class="language-settings__list">
            <li><a class="language-settings__link" ng-click="TC.translate('pl')" ng-class="{'language-settings__link-active': TC.language === 'pl'}" ng-href="#" rel="help">pl</a></li>
            <li><a class="language-settings__link" ng-click="TC.translate('en')" ng-class="{'language-settings__link-active': TC.language === 'en'}" ng-href="#" rel="help">en</a></li>
          </ul>
        </div>
        <h1 class="main-header__title"><span class="hide">Helpdesk - Help in solving IT problems</span><img class="main-header__brand-logo" src="images/logo/HD logo.png" alt="Helpdesk Logo"></h1>
        <inject-component condition="MC.isAuthorized()" include="'components/userPanel'"></inject-component>
      </header>
      <!--Main Wrapper-->
      <div class="main-wrapper">
        <div class="main-wrapper__container">
          <div ui-view=""></div>
        </div>
      </div>
      <!--Main Footer-->
      <footer class="main-footer">
        <p class="text-center text-muted"><small class="main-footer__copyright">&copy; Mateusz Archiciński</small></p>
      </footer>
    </main>
  </body>
</html>