
<div class="service-view__my-issues">
  <div ncy-breadcrumb="ncy-breadcrumb"></div>
  <md-toolbar class="service-view__toolbar">
    <header class="md-toolbar-tools service-view__toolbar-tools">
      <h2>Moje zgłoszenia</h2>
    </header>
  </md-toolbar>
  <md-content layout-padding="layout-padding">
    <div class="my-issues" layout="row" layout-align="center start">
      <div class="my-issues__container">
        <div class="my-issues__header">
          <div class="search-wrapper md-whiteframe-z1" layout="layout">
            <input class="search-input" flex="flex" ng-model="filterBy.subject" type="text" placeholder="Wyszukaj po nazwie tematu..."/>
          </div>
        </div>
        <div class="my-issues__body">
          <table class="table table-hover md-whiteframe-z1">
            <thead>
              <tr>
                <th>Lp</th>
                <th>Temat</th>
                <th>Kategoria</th>
                <th>Status</th>
                <th>Data zgłoszenia</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="issue in issues | filter: filterBy">
                <td>{{$index + 1}}</td>
                <td>{{issue.subject}}</td>
                <td><span ng-if="issue.category === 'software'">Oprogramowanie komputerowe</span><span ng-if="issue.category === 'hardware'">Sprzęt komputerowy</span></td>
                <td><span ng-if="issue.status === 'new'">Nowe</span><span ng-if="issue.status === 'in progress'">W trakcie</span><span ng-if="issue.status === 'resolved'">Rozwiązane</span></td>
                <td>{{MI.formatDate(issue.postDate)}}</td>
                <td>
                  <div layout="layout" layout-align="center">
                    <md-menu md-position-mode="right bottom">
                      <md-button class="icon-menu-small md-icon-button menu__icon-menu-small" ng-click="$mdMenu.open($event)" aria-label="Zgłoszenie - Więcej"></md-button>
                      <md-menu-content>
                        <md-menu-item>
                          <md-button><a class="no-link menu__link-menu" ui-sref="helpdesk.myIssues.issue(issue)">Otwórz</a></md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="MI.removeIssue(issue)">Usuń</md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </md-content>
</div>