
<!-- Functionalities-->
<md-list class="fun-list md-body-1">
  <md-list-item class="fun-list__list-item"><a class="fun-list__link" ui-sref="helpdesk({fun: 'dashboard'})" ui-sref-active="fun-list__link-active">Panel główny</a></md-list-item>
  <inject-component include="fun.templateUrl"></inject-component>
  <md-list-item class="fun-list__list-item"><a class="fun-list__link" ui-sref="helpdesk({fun: 'myaccount'})" ui-sref-active="fun-list__link-active">Moje konto</a></md-list-item>
  <md-list-item class="fun-list__list-item"><a class="fun-list__link" ui-sref="helpdesk({fun: 'logout'})" ui-sref-active="fun-list__link-active">Wyloguj się</a></md-list-item>
</md-list>