// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$account-circle-black-name: 'account_circle_black';
$account-circle-black-x: 0px;
$account-circle-black-y: 136px;
$account-circle-black-offset-x: 0px;
$account-circle-black-offset-y: -136px;
$account-circle-black-width: 24px;
$account-circle-black-height: 24px;
$account-circle-black-total-width: 204px;
$account-circle-black-total-height: 160px;
$account-circle-black-image: '../images/sprite.png';
$account-circle-black: (0px, 136px, 0px, -136px, 24px, 24px, 204px, 160px, '../images/sprite.png', 'account_circle_black', );
$account-circle-white-name: 'account_circle_white';
$account-circle-white-x: 136px;
$account-circle-white-y: 88px;
$account-circle-white-offset-x: -136px;
$account-circle-white-offset-y: -88px;
$account-circle-white-width: 24px;
$account-circle-white-height: 24px;
$account-circle-white-total-width: 204px;
$account-circle-white-total-height: 160px;
$account-circle-white-image: '../images/sprite.png';
$account-circle-white: (136px, 88px, -136px, -88px, 24px, 24px, 204px, 160px, '../images/sprite.png', 'account_circle_white', );
$exit-to-app-black-name: 'exit_to_app_black';
$exit-to-app-black-x: 44px;
$exit-to-app-black-y: 136px;
$exit-to-app-black-offset-x: -44px;
$exit-to-app-black-offset-y: -136px;
$exit-to-app-black-width: 24px;
$exit-to-app-black-height: 24px;
$exit-to-app-black-total-width: 204px;
$exit-to-app-black-total-height: 160px;
$exit-to-app-black-image: '../images/sprite.png';
$exit-to-app-black: (44px, 136px, -44px, -136px, 24px, 24px, 204px, 160px, '../images/sprite.png', 'exit_to_app_black', );
$exit-to-app-white-name: 'exit_to_app_white';
$exit-to-app-white-x: 132px;
$exit-to-app-white-y: 136px;
$exit-to-app-white-offset-x: -132px;
$exit-to-app-white-offset-y: -136px;
$exit-to-app-white-width: 24px;
$exit-to-app-white-height: 24px;
$exit-to-app-white-total-width: 204px;
$exit-to-app-white-total-height: 160px;
$exit-to-app-white-image: '../images/sprite.png';
$exit-to-app-white: (132px, 136px, -132px, -136px, 24px, 24px, 204px, 160px, '../images/sprite.png', 'exit_to_app_white', );
$home-black-name: 'home_black';
$home-black-x: 136px;
$home-black-y: 0px;
$home-black-offset-x: -136px;
$home-black-offset-y: 0px;
$home-black-width: 24px;
$home-black-height: 24px;
$home-black-total-width: 204px;
$home-black-total-height: 160px;
$home-black-image: '../images/sprite.png';
$home-black: (136px, 0px, -136px, 0px, 24px, 24px, 204px, 160px, '../images/sprite.png', 'home_black', );
$home-white-name: 'home_white';
$home-white-x: 136px;
$home-white-y: 44px;
$home-white-offset-x: -136px;
$home-white-offset-y: -44px;
$home-white-width: 24px;
$home-white-height: 24px;
$home-white-total-width: 204px;
$home-white-total-height: 160px;
$home-white-image: '../images/sprite.png';
$home-white: (136px, 44px, -136px, -44px, 24px, 24px, 204px, 160px, '../images/sprite.png', 'home_white', );
$menu-black-name: 'menu_black';
$menu-black-x: 0px;
$menu-black-y: 0px;
$menu-black-offset-x: 0px;
$menu-black-offset-y: 0px;
$menu-black-width: 48px;
$menu-black-height: 48px;
$menu-black-total-width: 204px;
$menu-black-total-height: 160px;
$menu-black-image: '../images/sprite.png';
$menu-black: (0px, 0px, 0px, 0px, 48px, 48px, 204px, 160px, '../images/sprite.png', 'menu_black', );
$menu-white-name: 'menu_white';
$menu-white-x: 68px;
$menu-white-y: 0px;
$menu-white-offset-x: -68px;
$menu-white-offset-y: 0px;
$menu-white-width: 48px;
$menu-white-height: 48px;
$menu-white-total-width: 204px;
$menu-white-total-height: 160px;
$menu-white-image: '../images/sprite.png';
$menu-white: (68px, 0px, -68px, 0px, 48px, 48px, 204px, 160px, '../images/sprite.png', 'menu_white', );
$more-vert-black-name: 'more_vert_black';
$more-vert-black-x: 0px;
$more-vert-black-y: 68px;
$more-vert-black-offset-x: 0px;
$more-vert-black-offset-y: -68px;
$more-vert-black-width: 48px;
$more-vert-black-height: 48px;
$more-vert-black-total-width: 204px;
$more-vert-black-total-height: 160px;
$more-vert-black-image: '../images/sprite.png';
$more-vert-black: (0px, 68px, 0px, -68px, 48px, 48px, 204px, 160px, '../images/sprite.png', 'more_vert_black', );
$more-vert-black-small-name: 'more_vert_black_small';
$more-vert-black-small-x: 88px;
$more-vert-black-small-y: 136px;
$more-vert-black-small-offset-x: -88px;
$more-vert-black-small-offset-y: -136px;
$more-vert-black-small-width: 24px;
$more-vert-black-small-height: 24px;
$more-vert-black-small-total-width: 204px;
$more-vert-black-small-total-height: 160px;
$more-vert-black-small-image: '../images/sprite.png';
$more-vert-black-small: (88px, 136px, -88px, -136px, 24px, 24px, 204px, 160px, '../images/sprite.png', 'more_vert_black_small', );
$more-vert-white-name: 'more_vert_white';
$more-vert-white-x: 68px;
$more-vert-white-y: 68px;
$more-vert-white-offset-x: -68px;
$more-vert-white-offset-y: -68px;
$more-vert-white-width: 48px;
$more-vert-white-height: 48px;
$more-vert-white-total-width: 204px;
$more-vert-white-total-height: 160px;
$more-vert-white-image: '../images/sprite.png';
$more-vert-white: (68px, 68px, -68px, -68px, 48px, 48px, 204px, 160px, '../images/sprite.png', 'more_vert_white', );
$more-vert-white-small-name: 'more_vert_white_small';
$more-vert-white-small-x: 180px;
$more-vert-white-small-y: 0px;
$more-vert-white-small-offset-x: -180px;
$more-vert-white-small-offset-y: 0px;
$more-vert-white-small-width: 24px;
$more-vert-white-small-height: 24px;
$more-vert-white-small-total-width: 204px;
$more-vert-white-small-total-height: 160px;
$more-vert-white-small-image: '../images/sprite.png';
$more-vert-white-small: (180px, 0px, -180px, 0px, 24px, 24px, 204px, 160px, '../images/sprite.png', 'more_vert_white_small', );
$spritesheet-width: 204px;
$spritesheet-height: 160px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($account-circle-black, $account-circle-white, $exit-to-app-black, $exit-to-app-white, $home-black, $home-white, $menu-black, $menu-white, $more-vert-black, $more-vert-black-small, $more-vert-white, $more-vert-white-small, );
$spritesheet: (204px, 160px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
